{% extends "launchpad.html" %}

{% load static %}

{% block head %}

<style>
    .pic {
        display: block;
        margin: auto;
        width: 1100px;
        overflow: hidden;
    }
    video {
        width: 1100px;
        height: 610px;
    }

    @media screen and (max-width:768px) {
        .pic {
            width: 100%;
            height: 202px;
            overflow: hidden;
        }
        video {
            width: 100%;
            height: auto;
        }
    }
</style>

{% endblock %}

{% block Content %}

    <div align="center">
        {% if logout_msg %}<p><strong>{{ logout_msg }}</strong></p>{% endif %}
    </div>

    <div id="landing">
        <div id="landing-text">
            <h1><u>smartHealth</u></h1>
            <h2>Aspire to Inspire</h2>
        </div>
    </div>

<div class="pic">
    <div id="myCarousel" class="carousel slide" data-interval="10000" data-ride="carousel" data-pause="hover">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item active">
                <video autoplay muted loop controls>
                    <source src="{% static 'accounts/hd0204.mp4' %}" type="video/mp4">
                    Your browser does not support Video.
                </video>
            </div>
            <div class="item">
                <img src="{% static 'accounts/pexel2-1100-610.jpeg' %}" alt="Second Slide">
            </div>
            <div class="item">
                <img src="{% static 'accounts/pexel3-1100-610.jpeg' %}" alt="Third Slide">
            </div>
            </div>
                <!-- Carousel controls -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
        </div>
</div>


{% endblock %}

{% block script %}

<script>
    function mobileMenu() {
        var x = document.getElementById("topNav");
        x.classList.toggle("mobileResponsive");
    }
</script>

{% endblock %}

