{% extends "launchpad.html" %}

{% block head %}

    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
         placement : 'top'
        });
    });
    </script>
    <style>
        .carousel-buttons {
            position: absolute;
            width: 100%;
            color:#fff;
            bottom:1px;
        }
        .carousel-buttons > div {
             padding:20px;

        }


    </style>

{% endblock %}

{% load static %}

{% block HomeNav %}
<a href="{% url 'accounts:index' %}" class="right"> Home</a>
{% endblock %}


{% block Content %}

    {% if logout %} <p align="right"><a href="{% url 'accounts:logout' %}">{{ logout }}</a></p> {% endif %}
    {% if Success %} <p><strong> {{ Success }} </strong></p>{% endif %}
    <br>
    <p><center><b>Product range</b></center></p>
    <br>
    {% if Hi %}
    <form action="" method="post">
        {% csrf_token %}
    <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel" data-pause="hover">
        <div class="carousel-inner ">
            <div class="item active" content="center">
                <img class="img-responsive" src="{% static 'accounts/Product-1-1280-853.jpeg' %}" alt="First Slide">
                <div class="hover-slide carousel-buttons">
                    <button class="col-xs-12 col-md-12 text-center btn" type="submit" name="buy"><a><b>Buy {{ Hi }}</b></a></button>
                </div>
             </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'accounts/Product-2-1280-853.jpeg' %}" alt="Second Slide">
                <div class="hover-slide carousel-buttons">
                    <button class="col-xs-12 col-md-12 text-center btn" type="submit" name="buy"><a><b>Buy</b></a></button>
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    </form>

    {% elif Hello %}
    <div id="myCarousel-2" class="carousel slide" data-interval="5000" data-ride="carousel" data-pause="hover">
        <div class="carousel-inner ">
            <div class="item active" content="center">
                <img class="img-responsive" src="{% static 'accounts/Product-1-1280-853.jpeg' %}" alt="First Slide">
                <div class="hover-slide carousel-buttons">
                    <button class="col-xs-12 col-md-12 text-center btn"><a href="#" class=" btn " data-toggle="popover" tabindex="0" data-trigger="focus"
                       data-content="You need to Sign In to buy this device."> Buy</a></button>
                </div>

             </div>
            <div class="item">
                <img class="img-responsive" src="{% static 'accounts/Product-2-1280-853.jpeg' %}" alt="Second Slide">
                <div class="hover-slide carousel-buttons">
                    <button class="col-xs-12 col-md-12 text-center btn"><a href="#" class=" btn " data-toggle="popover" tabindex="0" data-trigger="focus"
                       data-content="You need to Sign In to buy this device"> Buy</a></button>
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel-2" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel-2" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    {% endif %}

{% endblock %}

{% block script %}

<script>
    function mobileMenu() {
        var x = document.getElementById("topNav");
        x.classList.toggle("mobileResponsive");
    }
</script>

{% endblock %}



</div>
</main>
</body>
</html>